#
# Exclusões específicas do projeto
#

gato

#
# Exclusão padrão
#

# Binários
* .7z
* .dmg
* .gz
* .iso
* .jar
* .rar
* .tar
* .zip
* .war
* .ear
* .sar
* .class

# Maven
alvo /

# Arquivos de projeto IntelliJ
* .iml
* .iws
* .ipr
.idea /

# arquivo de projeto eclipse
.settings /
.classpath
.projeto

# Específico do NetBeans
nbproject / private /
construir /
nbbuild /
dist /
nbdist /
nbactions.xml
nb-configuration.xml


# SO
.DS_Store

# Misc
* .swp
release.properties
pom.xml.releaseBackup
pom.xml.tag